* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 95vw;
  height: 100vh;
}

.nav-menu {
  width: 95vw;
  height: 100vh; 
}

.top-part {
  position: relative;
  background-image: url('images.svg/Group 98.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 15%;
}

.top-part img {
  margin-left: 90%;
  margin-top: 8%;
}

.menu-wrapper {
  width: 100%;
  height: 80%;
  position: relative;
  background-image: url('images.svg/Group 51 (1).svg');
  background-repeat: no-repeat;
  background-position: 20% 85%;
  background-size: 15%;
}

.menu {
  position: relative;
  font-family: 'Poppins', sans-serif;
  background-image: url('images.svg/Group 51 (1).svg');
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 80% 0%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 30% 40% 30%;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.menu ul {
  position: relative;
  margin-left: 40%;
  margin-right: 40%;
  width: 25%;
  height: 90%;
  list-style: none;
  align-self: 50%;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.menu ul a {
  text-decoration: none;
  color: #1a2236;
}

.h-menu {
  width: 100%;
}

.p-menu {
  width: 100%;
}

.a-menu {
  width: 100%;
}

.c-menu {
  width: 100%;
}

.bottom-part {
  background-image: url('images.svg/Mask Group (1).svg');
  background-repeat: no-repeat;
  width: 100;
  height: 18%;
  background-size: 100%;
}
